<h1>View Support Request</h1>

<p>Name: <%= @support_request.name %><br>
   Email: <%= @support_request.email %><br>
   Department: <%= @support_request.department %></p>
<p>Message: <%= @support_request.message %></p>
